p{
    color: rgb(245, 241, 241);
    
}

.oneBrew_title{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}

.container_onebrew{
    background-image: url('./images/download-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 60px;
    border-radius: 5px;
}

.table{
    display: flex;
    justify-content: center;
}

p{
    margin: 0 auto;
   
   
}

h1{
    text-shadow: -1px 4px 0 rgb(10, 10, 10);
}

.visited{
    color: rgb(65, 5, 88);
}

.stampbutton{
    background-color: white;
    color: black;
    

}

.stampbutton:hover{
    background-color: black;
    color: white;
   
}